<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chương 5 - Gom cụm</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chuong5.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">DATA-MINING</a>
      </div>
      <div class="option">
        <a href="/chuong1">Tiền xử lý</a>
        <a href="/chuong2">Tập phổ biến</a>
        <a href="/chuong3">Tập thô</a>
        <a href="/chuong4">Phân lớp</a>
        <a href="/chuong5">Gom cụm</a>
      </div>
    </nav>

    <div class="wrapper">
      <h1 class="titlePage">Gom cụm</h1>
      <div class="inputFile">
        <!-- Form upload file CSV -->
        <div class="btnNhapFile">
          <label for="csv-upload" class="upload-label"></label>
          <input
            type="file"
            id="csv-upload"
            accept=".csv"
            onchange="handleFileUpload(event)"
          />
          <div id="table-container" class="table-container"></div>
        </div>

        <!-- Vùng để hiển thị bảng -->
        <div id="columns-buttons" class="columns-buttons-container"></div>
      </div>
      <hr style="margin: 1rem" />
      <div class="inputKmean">
        <span class="titleKmean">Nhập K-mean</span>
        <input class="numKmean" type="number" step="1" />
        <button id="start-kmean-btn" onclick="handleKMeans()">
          Bắt đầu gom cụm
        </button>
      </div>
      <div id="result" class="result-container"></div>
      <div class="Diagram-cluster"></div>
    </div>
    <script src="{{ url_for('static', filename='js/chuong5.js') }}"></script>
  </body>
</html>
