<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chương 2 -Tập phổ biến</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">DATA-MINING</a>
      </div>
      <div class="option">
        <a href="/chuong1">Tiền xử lý</a>
        <a href="/chuong2">Tập phổ biến</a>
        <a href="/chuong3">Tập thô</a>
        <a href="/chuong4">Phân lớp</a>
        <a href="/chuong5">Gom cụm</a>
      </div>
    </nav>
    <div class="wrapper"></div>
  </body>
</html>
