<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chương 5 - Gom cụm</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chuong5.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">DATA-MINING</a>
      </div>
      <ul class="option">
        <li class="option-chuong4-absolute">
          <span>Tiền xử lý</span>
          <div class="option-chuong4-wrapper">
            <div class="option-chuong4-log">
              <div class="css-gini">
                <a href="/chuong1_pearson"><span>Tính độ tương quan</span></a>
              </div>
              <div class="css-bayes">
                <a href="/chuong1_binning"><span>Binning</span></a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/chuong2">Tập phổ biến</a>
        </li>
        <li>
          <a href="/chuong3">Tập thô</a>
        </li>
        <li class="option-chuong4-absolute">
          <span>Phân lớp</span>
          <div class="option-chuong4-wrapper">
            <div class="option-chuong4-log">
              <div class="css-gini">
                <a href="/chuong4_gini">
                  <span>Thuật toán Gini Cart</span>
                </a>
              </div>
              <div class="css-bayes">
                <a href="/chuong4_bayes">
                  <span>Thuật toán Naive Bayes</span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/chuong5">Gom cụm</a>
        </li>
      </ul>
    </nav>

    <div class="wrapper">
      <h1 class="titlePage">Gom cụm</h1>
      <div class="inputFile">
        <!-- Form upload file CSV -->
        <div class="btnNhapFile">
          <label for="csv-upload" class="upload-label"></label>
          <input
            type="file"
            id="csv-upload"
            accept=".csv"
            onchange="handleFileUpload(event)"
          />
          <div id="table-container" class="table-container"></div>
        </div>

        <!-- Vùng để hiển thị bảng -->
        <div id="columns-buttons-container"></div>
      </div>
      <hr style="margin: 1rem" />
      <div class="inputKmean">
        <span class="titleKmean">Nhập K-mean</span>
        <input class="numKmean" type="number" step="1" />
        <button id="start-kmean-btn" onclick="handleKMeans()">
          Bắt đầu gom cụm
        </button>
      </div>
      <div id="result" class="result-container"></div>
      <div class="Diagram-cluster"></div>
    </div>
    <script src="{{ url_for('static', filename='js/chuong5.js') }}"></script>
  </body>
</html>
