<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chương 4 - Phân lớp</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chuong4.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">DATA-MINING</a>
      </div>
      <div class="option">
        <a href="/chuong1">Tiền xử lý</a>
        <a href="/chuong2">Tập phổ biến</a>
        <a href="/chuong3">Tập thô</a>
        <a href="/chuong4">Phân lớp</a>
        <a href="/chuong5">Gom cụm</a>
      </div>
    </nav>
    <div class="wrapper">
      <h1 class="titlePage">Phân lớp thuật toán CART</h1>
      <div class="inputFile">
        <!-- Form upload file CSV -->
        <div class="btnNhapFile">
          <label for="csv-upload" class="upload-label"></label>
          <input
            type="file"
            id="csv-upload"
            accept=".csv"
            onchange="handleFileUpload(event)"
          />
          <div id="table-container" class="table-container"></div>
        </div>

        <!-- Vùng để hiển thị bảng -->
        <div id="columns-buttons-container"></div>
      </div>
      <!-- Target column selection -->

      <div class="css-targer-accuracy">
        <div class="css-for-accuracy-block">
          <div class="css-target">
            <span>Target Column:</span>
            <select id="target-column">
              <option value="" selected disabled>Chưa có data 🌈</option>
            </select>
            <div class="css-btnTree">
              <button class="css-btn-tree" onclick="runDecisionTree()">
                Run Decision Tree
              </button>
            </div>
          </div>
          <div>
            <input
              type="text"
              id="accuracy-input"
              readonly
              placeholder="Accuracy will be shown here"
            />
          </div>
        </div>
      </div>
      <div class="css-result-chuong4">
        <div id="decision-tree-result"></div>
      </div>
      <div class="css-new-file-upload">
        <h3>Tải file CSV mới để dự đoán:</h3>
        <input
          type="file"
          id="new-file-upload"
          onchange="handleFileUploadNew(event)"
        />
        <div id="new-prediction-table-container"></div>
      </div>
    </div>
    <script
      src="{{ url_for('static', filename='js/chuong4.js') }}"
      defer
    ></script>
  </body>
</html>
