<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chương 5 - Gom cụm</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chuong4_bayes.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">DATA-MINING</a>
      </div>
      <ul class="option">
        <li class="option-chuong4-absolute">
          <span>Tiền xử lý</span>
          <div class="option-chuong4-wrapper">
            <div class="option-chuong4-log">
              <div class="css-gini">
                <a href="/chuong1_pearson"><span>Tính độ tương quan</span></a>
              </div>
              <div class="css-bayes">
                <a href="/chuong1_binning"><span>Binning</span></a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/chuong2">Tập phổ biến</a>
        </li>

        <li class="option-chuong4-absolute">
          <span>Phân lớp</span>
          <div class="option-chuong4-wrapper">
            <div class="option-chuong4-log">
              <div class="css-gini">
                <a href="/chuong4_gini">
                  <span>Thuật toán Gini Cart</span>
                </a>
              </div>
              <div class="css-bayes">
                <a href="/chuong4_bayes">
                  <span>Thuật toán Naive Bayes</span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/chuong5">Gom cụm</a>
        </li>
      </ul>
    </nav>

    <div class="wrapper">
      <h1>Dữ liệu từ file Excel</h1>
      {{ data_table|safe }}
      <!-- Hiển thị dữ liệu dạng bảng HTML -->

      <h2>Chọn mẫu để phân lớp</h2>
      <form action="/classify" method="post">
        {% for col in data.columns[:-1] %}
        <label for="{{ col }}">{{ col }}:</label>
        <select id="{{ col }}" name="{{ col }}">
          <option value="">Không chọn</option>
          <!-- Thêm tùy chọn 'Không chọn' -->
          {% for value in unique_values[col] %}
          <option value="{{ value }}">{{ value }}</option>
          {% endfor %}
        </select>
        {% endfor %}
        <label for="laplace">Sử dụng Laplace smoothing:</label>
        <input type="checkbox" id="laplace" name="laplace" /><br /><br />
        <button type="submit">Phân lớp</button>
      </form>
    </div>
  </body>
</html>
