<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ - DATA-MINING</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">DATA-MINING</a>
      </div>
      <div class="option">
        <a href="/chuong1">Tiền xử lý</a>
        <a href="/chuong2">Tập phổ biến</a>
        <a href="/chuong3">Tập thô</a>
        <a href="/chuong4">Phân lớp</a>
        <a href="/chuong5">Gom cụm</a>
      </div>
    </nav>

    <div class="wrapper" style="display: flex; justify-content: center">
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <h3 class="intro">Chào mừng đến với Data Mining</h3>
        <p class="intro">Chọn một tùy chọn từ thanh điều hướng để bắt đầu.</p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
