<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ - DATA-MINING</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">DATA-MINING</a>
      </div>
      <ul class="option">
        <li>
          <a href="/chuong1">Tiền xử lý</a>
        </li>
        <li>
          <a href="/chuong2">Tập phổ biến</a>
        </li>
        <li>
          <a href="/chuong3">Tập thô</a>
        </li>
        <li class="option-chuong4-absolute">
          <span>Phân lớp</span>
          <div class="option-chuong4-wrapper">
            <div class="option-chuong4-log">
              <div class="css-gini">
                <a href="/chuong4_gini">
                  <span>Thuật toán Gini Cart</span>
                </a>
              </div>
              <div class="css-bayes">
                <a href="/chuong4_bayes">
                  <span>Thuật toán Naive Bayes</span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/chuong5">Gom cụm</a>
        </li>
      </ul>
    </nav>

    <div class="wrapper" style="display: flex; justify-content: center">
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <h3 class="intro">Chào mừng đến với Data Mining</h3>
        <p class="intro">Chọn một tùy chọn từ thanh điều hướng để bắt đầu.</p>
      </div>
    </div>
  </body>
</html>
